:root {
  --changeling-color-1: #02650a;
  --changeling-color-2: #43d857;
  --changeling-color-3: #1ff51f;
  --changeling-theme-filter: #094d09;
  --motley-group-header: rgba(21, 121, 8, 0.8);
}
/* Define splat-specific colours for the WOD5E Symbols */
.wod5e .wod5e-symbol.changeling {
  color: var(--changeling-color-3);
}
/* Changeling Actor Sheet */
.actor.sheet.changeling .actor-header {
  border-bottom: 2px solid var(--changeling-color-1);
}
.actor.sheet.changeling .profile-img,
.actor.sheet.changeling .actor-header input,
.actor.sheet.changeling .actor-header .resource {
  border: 1px solid var(--changeling-color-1);
}
.actor.sheet.changeling prose-mirror .editor-menu button:hover {
  background-color: var(--changeling-color-2);
}
.actor.sheet.changeling prose-mirror .editor-content {
  scrollbar-color: var(--changeling-color-2) var(--color-scrollbar-track);
  font-size: 10pt;
}
.actor.sheet.changeling .sheet-banner {
  background-color: var(--changeling-color-1);
  color: var(--system-color-6);
}
.actor.sheet.changeling .tabs-container {
  background-color: var(--changeling-color-2);
}
.actor.sheet.changeling .tabs-container .navicon .wod5e-symbol,
.actor.sheet.changeling .tabs-container [data-tab="blood"] .navicon {
  color: var(--changeling-color-2);
}
.actor.sheet.changeling .tabs-container .active .navicon {
  background-color: var(--changeling-color-1);
  color: var(--system-color-6);
}
.actor.sheet.changeling .tabs-container .active .navicon .wod5e-symbol {
  color: var(--system-color-6);
}
.actor.sheet.changeling .item-image {
  flex-grow: 0;
}
.actor.sheet.changeling .item-image img {
  background-color: var(--changeling-theme-filter);
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .powers-display-tree ul:before {
  background-color: var(--changeling-color-1);
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .powers-display-tree li:before {
  background-color: var(--changeling-color-1);
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 0px 10px 10px 10px;
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .category.discipline {
  max-width: 500px;
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .item-header {
  border-bottom: 1px solid var(--system-color-5);
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .item-controls {
  text-align: right;
  padding: 5px;
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .controls {
  border-bottom: 1px solid var(--system-color-5);
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .item-name {
  text-wrap: nowrap;
}
.actor.sheet.changeling .tab[data-tab="disciplines"] .disciplines-list .discipline-description {
  margin-bottom: 5px;
}
/* All Sheets with the Changeling styling, including itemsheets */
.sheet.changeling {
  box-shadow: 0 0 10px var(--changeling-color-1);
}
.sheet.changeling .window-header {
  background: #000;
}
.sheet.changeling .window-content {
  scrollbar-color: var(--changeling-color-2) var(--changeling-color-1);
}
.sheet.changeling .resource-value .resource-value-step.active,
.sheet.changeling .resource-value-static .resource-value-static-step.active,
.sheet.changeling .resource-counter .resource-counter-step[data-state="-"] {
  background-color: var(--changeling-color-3);
}
.sheet.changeling .powers-display-tree .icon.selected,
.sheet.changeling button.rollable,
.sheet.changeling .changeling-button {
  background-color: var(--changeling-color-1);
  background-blend-mode: luminosity;
  color: var(--system-color-6);
}
.sheet.changeling .rouse-button {
  max-width: 35px;
  height: 35px;
  margin-top: -5px;
}
.sheet.changeling .rouse-button .wod5e-symbol {
  vertical-align: middle;
}
.sheet.changeling button.changeling-button {
  background: var(--changeling-color-1);
  color: var(--system-color-6);
  font-family: cormorantLight, serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: none;
  box-shadow: none;
  border: 1px solid var(--system-color-5);
  margin: 0;
  border-radius: 0;
  padding: 3px;
}
.sheet.changeling button.changeling-button:hover {
  background: #bb3030ef;
}
.sheet.changeling button.changeling-button.active,
.sheet.changeling button.changeling-button.active:hover {
  font-size: 20pt;
  color: var(--system-color-6);
  cursor: default;
  background: #be1818;
}
.sheet.changeling .frenzy {
  margin-bottom: 3px;
}
.sheet.changeling .frenzy .frenzy-status {
  font-weight: bold;
}
.sheet.changeling .frenzy .frenzy-status.active {
  color: #f54949;
  text-shadow: 0 0 10px var(--system-color-5);
}
/* Group Sheets */
.group-header.coterie {
  background-color: var(--coterie-group-header) !important;
}
/* Dialogs Windows */
.changeling.dialog.window-app,
.changeling.dialog.application {
  border: 4px solid var(--changeling-color-1);
}
.changeling.dialog.window-app .window-header,
.changeling.dialog.application .window-header {
  background: var(--changeling-color-1);
  border-bottom: 4px double var(--system-color-6);
}
.changeling.dialog.window-app .window-content section .tab .resource-label,
.changeling.dialog.application .window-content section .tab .resource-label,
.changeling.dialog.window-app .items-list .item-header,
.changeling.dialog.application .items-list .item-header,
.changeling.dialog.window-app .items-list .spc-item-header,
.changeling.dialog.application .items-list .spc-item-header,
.changeling.dialog.window-app .spc-pool-header,
.changeling.dialog.application .spc-pool-header,
.changeling.dialog.window-app .actor-header .profile-img-zone h1,
.changeling.dialog.application .actor-header .profile-img-zone h1 {
  color: var(--changeling-color-1);
  border-color: var(--changeling-color-1);
}
.changeling.dialog.window-app .dialog-content .dice-group-header,
.changeling.dialog.application .dialog-content .dice-group-header {
  background-color: var(--changeling-color-1);
}
.changeling.dialog.window-app input,
.changeling.dialog.application input,
.changeling.dialog.window-app select,
.changeling.dialog.application select {
  border: 1px solid var(--changeling-color-1);
}
.changeling.dialog.window-app .base-dice-group,
.changeling.dialog.application .base-dice-group {
  border: 1px solid var(--changeling-color-2);
}
.changeling-font-headers.en .changeling-button {
  font-family: "changelingRevised", "sans-serif";
}
